@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.buy_tickets{
    width: 70%;
    margin: 60px 10px;
    display: inline-block;
    border-right: 1px solid #c0c0c0;

}

.tickets_header {
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    margin-top: 0px;
    margin-left: 60px;
    margin-bottom: 50px;
    color: #71a0da;
    text-align: justify;
    text-justify: inter-word;
}

.tickets_title{
    margin: 50px 5px;
    border-bottom: 1px solid #c0c0c0;
}

.tickets_title h1{
    margin: 10px 20px;
    text-align: justify;
    text-justify: inter-word;
    color: #616060;
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
}


.btn_tickets{
    display: block;
    text-align: justify;
    text-justify: inter-word;
    margin: 0 auto;
    width: 80%;
    height: 40px;
    padding: 0 40px;
    padding-top: 20px;
    background: linear-gradient(to right, #71a0da,#1963c4,#71a0da);
    background-size: 200%;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: .5s;
}

.btn_tickets:hover{
    background-position: right;
}

.btn_tickets_total{
    display: block;
    text-align: justify;
    text-justify: inter-word;
    margin: 0px auto;
    margin-top: 60px;
    width: 80%;
    height: 40px;
    border: 2px solid #71a0da;
    color: #71a0da;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 40px;
}

.buy_img{
    width: 40px;
    vertical-align: middle;
    margin-right: 20px;
}

.title_chair{
    width: 95%;
    display: inline-block;
}

.img_down{
    width: 5%;
    display: inline-block;
}

.down_img{
    width: 20px;
    vertical-align: middle;
}

.chair_general{
    margin-bottom: 60px;
}

.chair_content{
    margin: 0 6.3%;
    overflow: hidden;
    max-height: 0;
    border: 2px solid #c0c0c0;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.8s;
}

.tickets_total{
    height: 400px;
}

.chair_content_total{
    margin: 0 63px;
    overflow: hidden;
    max-height: 300px;
    border: 2px solid #71a0da;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.8s;
}

.chair_info{
    width: 25%;
    display: inline-block;
}

.chair_price{
    width: 50%;
    display: inline-block;
}

.chair_num_chose{
    width: 25%;
    display: inline-block;
}

chair_num_chose2{
    display: block;
}

.tickets_content input{
    display: none;
}

.chair_panel h3{
    font-family: 'Quicksand', sans-serif;
    color: #666666;
}

.chair_panel h2{
    font-family: 'Quicksand', sans-serif;
    color: #666666;
}

.chair_panel h4{
    margin-bottom: 0px;
}

.chair_panel p{
    font-family: 'Quicksand', sans-serif;
    color: #666666;
}

.chair_panel button{
    border: 2px solid #eea73b;
    border-radius: 100%;
    background: #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

.buy_tickets input:checked ~ .chair_content{
    max-height: 500px; 
}

.chair_panel button:focus{
    outline: none !important;
}

.btn_num_tick_img{
    width: 80%;
    vertical-align: middle;
}

.button_buy{
    margin: 40px auto;
}

.buy_btn{
    width: 70%;
    height: 50px;
    background: linear-gradient(to right, #71a0da,#1963c4,#71a0da);
    background-size: 200%;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    transition: .5s;
    opacity: 0;
}

.buy_btn.active{
    opacity: 1;
    cursor: pointer;
}

.buy_btn:hover{
    background-position: right;
}


.buy_btn:focus{
    outline: none !important;
}

.buy_history{
    width: 25%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-top: 80px ;
}

@media(max-width:600px){
    .buy_history{
        width: 98%;
        display: block;
        margin: 20px auto;
    }

    .chair_panel h2{
        font-size: 18px;
    }
    
    .buy_tickets{
        width: 90%;
        display: block;
        margin: 60px auto;
        border-right: none;
    }

    .chair_content, .chair_content_total{
        margin: 0 2.1%;
    }
}

@media (min-width: 600px) and (max-width:650px) {  

    .buy_history{
        width: 90%;
        display: block;
        margin: 20px auto;
    }

    .buy_tickets{
        width: 90%;
        display: block;
        margin: 60px auto;
        border-right: none;
    }

    .chair_panel h2{
        font-size: 18px;
    }

    .chair_content, .chair_content_total{
        margin: 0 2.8%;
    }
}

@media (min-width: 650px) and (max-width:700px) {  

    .buy_history{
        width: 90%;
        display: block;
        margin: 20px auto;
    }

    .buy_tickets{
        width: 90%;
        display: block;
        margin: 60px auto;
        border-right: none;
    }

    .chair_panel h2{
        font-size: 20px;
    }

    .chair_content, .chair_content_total{
        margin: 0 3.5%;
    }
}

@media (min-width: 700px) and (max-width:800px) {  

    .buy_history{
        width: 90%;
        display: block;
        margin: 20px auto;
    }

    .buy_tickets{
        width: 90%;
        display: block;
        margin: 60px auto;
        border-right: none;
    }

    .chair_panel h2{
        font-size: 22px;
    }

    .chair_content, .chair_content_total{
        margin: 0 4.2%;
    }
}


@media (min-width: 800px) and (max-width:900px) {  

    .buy_history{
        width: 90%;
        display: block;
        margin: 20px auto;
    }

    .buy_tickets{
        width: 90%;
        display: block;
        margin: 60px auto;
        border-right: none;
    }

    .chair_content, .chair_content_total{
        margin: 0 4.9%;
    }
}

@media (min-width: 900px) and (max-width:1000px) {  
    .chair_content, .chair_content_total{
        margin: 0 4%;
    }
    .chair_panel h2{
        font-size: 22px;
    }
}

@media (min-width: 1000px) and (max-width:1100px) {  
    .chair_content, .chair_content_total{
        margin: 0 4.6%;
    }
}

@media (min-width: 1100px) and (max-width:1270px) {  
    .chair_content, .chair_content_total{
        margin: 0 5.2%;
    }
}

@media (min-width: 1270px) and (max-width:1400px) {  
    .chair_content, .chair_content_total{
        margin: 0 5.8%;
    }
}