@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');

.container_registrer {
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 30px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
}

.form_registrer{
    width: 55%;
    display: inline-block;
    text-align: justify;
    text-justify: inter-word;
    vertical-align:top;
}

.background{
    width: 45%;
    margin-bottom: -45px;
    display: inline-block;
    vertical-align:bottom;
}

.img_background{
    position: relative;
    margin-left: -20px;
}

.form h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    margin-bottom:5px;
    line-height: normal;
    color: rgb(75, 75, 75);
}

.form h5{
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    font-size: 20px;
    line-height: 26px;
    color: #eea73b;
    border-bottom: 1px solid #ccc;
}

.form p{
    color: #555;
    font-weight: 500;
    font-size: 17px;
    margin-left: 5px;
}

.row_form{
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.form_half{
    width: 50%;
    display: inline-block;
}

.input_half{
    width: 80%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0 15px;
    color: #719ECE;
    font-weight: 700;
}

.input_half:focus {
    outline: none !important;
    border:1px solid #1963c4;
    box-shadow: 0 0 10px #719ECE;
}

.input_complete{
    width: 70%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0 15px;
    color: #719ECE;
    font-weight: 700;
}

.input_complete:focus {
    outline: none !important;
    border:1px solid #1963c4;
    box-shadow: 0 0 10px #719ECE;
}

.tipo_documento{
    width: 80%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0 15px;
    color: #719ECE;
    font-weight: 700;
}

.tipo_documento:focus {
    outline: none !important;
    border:1px solid #1963c4;
    box-shadow: 0 0 10px #719ECE;
}

.button_search{
    margin-top: 30px;
    width: 90%;
    height: 45px;
    color: #ffffff;
    background: #1963c4;
    border: 0px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

::placeholder { 
    color: rgb(167, 167, 167);
    font-weight: 600;
}

.image_preview {
    width: 300px;
    min-height: 100px;
    border: 2px solid #ccc;
    border-radius: 12px;
    margin-top: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ccc;
}

.image_preview_image{
    display: none;
    width: 100%;
}

.inpFile {
    color: transparent;
  }
  .inpFile::-webkit-file-upload-button {
    visibility: hidden;
  }

  .inpFile::before {
    content: 'Selecciona una imagen';
    color: #ffffff;
    display: inline-block;
    background: #1963c4;
    border: none;
    border-radius: 3px;
    padding: 12px 8px;
    cursor: pointer;
    font-size: 10pt;
  }

  .inpFile:focus{
    outline: none !important;
  }

  @media(max-width:900px){

    .form h1{
        font-size: 32px;
        text-align: center;
        margin-bottom: 20px;
    }

    .container_registrer {
        padding-right: 10px;
        padding-left: 10px;
    }

    .form_registrer{
        width: 95%;
        display: block;
        margin: 5px auto;
    }
    
    .background{
        display: none;
    }
}

@media (min-width: 895px) and (max-width:1300px) {   
    .form h1{
        font-size: 32px;
    }

    .img_background{
        width: 112%;
        margin-left: 0px;
    }
}